Remember me
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.box {
    transition: box-shadow .3s;
    width: 300px;
    height: 500px;
    margin: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}

.txt3 {
    color: #198754
}